h1 {
  		margin: .67em 0;
  		font-size: 4em;
        /*font-size: 80px;*/
        font-family: "HelveticaNeue-CondensedBold", "Franklin Gothic Demi Cond", "Franklin Gothic Medium Cond", "Impact", sans-serif;
}