h1 {
  		font-size: 4em;
        font-family: "HelveticaNeue-CondensedBold", "Franklin Gothic Demi Cond", "Franklin Gothic Medium Cond", "Impact", sans-serif;
}

h2 {
  		font-size: 3em;
 		font-family: "Gill Sans", Arial, Helvetica, Calibri, sans-serif;
}

img {
		padding-bottom: 40px
}

/*.contact-h2 {
	color: #E7E7E7 ;
}
*/

.james-routley {
	text-align: center ;
	/* position: absolute; */	
	padding-top: 100px ;
}

/*
.contact-section {
    background: #333;
}

#contact h1 {
	color: #eee;
}
*/



@media (max-width: 1200px)
	{
	.speakers-section {
	 height: 290% ;
    	
	}
	}

@media (max-width: 992px)
    {
		
	   .speakers-section {
		height: 290% ;   
	   }
    }


@media (max-width: 768px)
    {
	  
	   .intro-section {
    	padding-top: 75px;
		height: 120%;
	   }
	  
	  .about-section {
    	padding-top: 75px;
		height: 120%;
	   }
	  
	  .speakers-section {
    	padding-top: 75px;
		height: 400%;
	   }
	  
	  .timetable-section {
    	padding-top: 75px;
	   }
	  
	  .tickets-section {
    	padding-top: 75px;
	   }
	  .contact-section {
    	padding-top: 75px;
	   }
    }

/*link red: CC0000*/
a {
  color: #CC0000 ;
}

a:hover,
a:focus {
  color: #CC0000;
  text-decoration: underline;
}